DB_HOST=postgres
DB_NAME=orders_db
DB_USER=postgres
DB_PASSWORD=postgres

AWS_ENDPOINT_URL=http://localstack:4566

SQS_QUEUE_URL=http://localstack:4566/000000000000/OrderProcessingQueue
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:OrderStatusNotifications