# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual env
venv/
.env/

# pytest
.pytest_cache/

# dependency installs
boto3/
botocore/
dateutil/
jmespath/
s3transfer/
urllib3/
psycopg2/
*.dist-info
*.libs

# lambda build files
function.zip

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/